{% extends "base.html" %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-centered ">

        <div class="column is-4 is-offset-4">
            <h3 class="title">Restore Password</h3>
            <div class="box">

                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" action="/signup">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus=""
                                value={{ user_data[0] if user_data}}>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="restore_password"
                                placeholder="Restoration Password" value={{ user_data[1] if user_data}}>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="New Password">
                        </div>
                    </div>

                    <button class="button is-block is-info is-large is-fullwidth">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}