{% extends "base.html" %}

{% block content %}
<style>
  h1 {
    padding-bottom: 40px;
  }

  h2 {}

  .hero-body {
    display: flex;
    flex-direction: column;
  }

  .main-div {
    padding-inline-end: 0px;
  }

  .pass-div {}

  .shared-div {
    padding-top: 50px;
  }
</style>

<div class="hero-body">
  <div class="main-div">
    <h1 class="title has-text-left">
      Manage your passwords for services!
    </h1>
    <h1>
      {{ name }}
    </h1>
  </div>
  <div class="pass-div">
    <h2 class="title">
      Your passwords:
    </h2>
    <hr>
    <table class='table is-bordered is-hoverable'>
      <thead>
        <tr>
          <th>Owner email</th>
          <th>Name</th>
          <th>Password</th>
          <th>Shared with</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for row in user_passwords %}
        <tr>
          <td>{{ row['owner'] }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['shared'] }}</td>
          <td>{{ row['password'] }}</td>
          <td>
            <button class="button is-info">Decrypt</button>
            <button class="button is-info">Share</button>
            <button class="button is-danger">Delete</button>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="shared-div">
    <h2 class="title">
      Shared with you:
    </h2>
  </div>
</div>
{% endblock %}