{% extends "base.html" %}

{% block content %}

<style>
  h1 {
    padding-bottom: 40px;
  }

  .hero-body {
    display: flex;
    flex-direction: column;
  }

  .main-div {
    padding-inline-end: 0px;
  }

  .pass-div {}

  .shared-div {
    padding-top: 50px;
  }
</style>
{% with messages = get_flashed_messages(category_filter=["critical_message"]) %}
{% if messages %}
<article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" id="messageDelete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{ messages[0] }}
  </div>
</article>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["positive_message"]) %}
{% if messages %}
<article class="message is-success">
  <div class="message-header">
    <p>Success</p>
    <button class="delete" id="messageDelete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{ messages[0] }}
  </div>
</article>
{% endif %}
{% endwith %}

<div class="hero-body">
  <div class="main-div">
    <h1 class="title is-1 has-text-left">
      Manage your passwords for services!
    </h1>
  </div>
  <div class="pass-div" style="width:60%">
    <h2 class="title">
      Your passwords:
    </h2>
    <a class="button is-medium is-fullwidth is-info modal-button" data-target="#newPassword">New Password</a>
    <hr>
    <table class='table is-bordered is-hoverable' style="width:100%">
      <thead>
        <tr>
          <th>Owner email</th>
          <th>Name</th>
          <th>Password</th>
          <th>Shared with</th>
          <th style="width:24%">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for row in user_passwords %}
        <tr>
          <td>{{ row['owner'] }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['password'] }}</td>
          <td>
            <a href="{{ url_for('main.shareView', id=row['id']) }}" class="button is-info" id="ssshareUserBtn{{ row['id'] }}">

              {{ row['shared_count'] }}
              {% if row['shared_count'] == 1 %}
              User
              {% else %}
              Users
              {% endif %}
            </a>
          </td>
          <td style="text-align: center;">
            <button class="button is-info">Decrypt</button>
            <button class="button is-info" id="sharePasswordBtn{{ row['id'] }}"
              data-id="{{ url_for('main.share',id=row['id']) }}">Share</button>
            <a class="button is-danger" id="deletePasswordBtn{{ row['id'] }}"
              data-id="{{ url_for('main.delete',id=row['id']) }}">Delete</a>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="shared-div" style="width:60%">
    <h2 class="title">
      Shared with you:
    </h2>
    <table class='table is-bordered is-hoverable' style="width:100%">
      <thead>
        <tr>
          <th>Owner email</th>
          <th>Name</th>
          <th>Password</th>
          <th style="width:24%">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for row in shared_passwords %}
        <tr>
          <td>{{ row['owner_email'] }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['password'] }}</td>
          <td style="text-align: center;">
            <button class="button is-info">Decrypt</button>
            <a class="button is-danger" data-id="{{ url_for('main.delete',id=row['id']) }}">Delete</a>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="modal" id="modalNewPassword">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Password</p>
      <button class="modal-close" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div id="passModalDiv" style="padding-bottom: 10px;">
        {% with messages = get_flashed_messages(category_filter=["errorAdd"]) %}
        {% if messages %}
        <div class='notification is-danger' id='modalInputError'>
          {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
      </div>
      <form method="POST" id="newPasswordForm" action="/passwords">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="text" name="name" id="nameInput" placeholder="Name e.g. Youtube"
              autofocus="">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password" id="passwordInput" placeholder="Password"
              autofocus="">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="secret" id="secretInput" placeholder="Secret Key"
              autofocus="">
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="addPassBtn">Add</button>
      <button class="button modal-close-button" id="closebtn">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" id="modalDeletePassword">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p style="color: black; font-weight: bold; font-size: large;">Delete this password?</p>
    </section>
    <footer class="modal-card-foot">
      <form style="display: inline-block; padding-right: 5px;" id="deletePasswordForm" method="POST">
        <button class="button is-danger" type="submit">Delete</button>
      </form>
      <button class="button modal-close-button">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" id="modalSharePassword">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Share</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="shareModalDiv" style="padding-bottom: 10px;">
        {% with messages = get_flashed_messages(category_filter=["errorShare"]) %}
        {% if messages %}
        <div class='notification is-danger' id='modalShareInputError'>
          {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
      </div>
      {% with messages = get_flashed_messages(category_filter=["errorShare"]) %}
      {% if messages %}
      <form method="POST" id="sharePasswordForm" action="{{ messages[1] }}">
        {% else %}
        <form method="POST" id="sharePasswordForm">
          {% endif %}
          {% endwith %}
          <div class="field">
            <div class="control">
              <input class="input is-large" type="email" name="email" id="emailInput" placeholder="Your friend's email"
                autofocus="">
            </div>
          </div>
        </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="addShareBtn">Add</button>
      <button class="button modal-close-button">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" id="modalShareUsers">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Shared with</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {% for row in user_passwords[0]['shared'] %}
      <label style="color: black;">{{ row }}</label>
      {% endfor %}
    </section>
    <footer class="modal-card-foot">
      <button class="button modal-close-button">Close</button>
    </footer>
  </div>
</div>




<script>

  if ($("#modalInputError").length != 0) {
    $("#modalNewPassword").addClass("is-active");
  }

  if ($("#modalShareInputError").length != 0) {
    $("#modalSharePassword").addClass("is-active");
  }

  $(".modal-button").click(function () {
    $("#modalNewPassword").addClass("is-active");
  });

  $(".modal-close").click(function () {
    $(".modal").removeClass("is-active");
    if ($("#modalInputError").length != 0) {
      $("#modalInputError").remove()
    }

    if ($("#modalShareInputError").length != 0) {
      $("#modalShareInputError").remove()
    }
  });

  $(this.document).on('click', 'a[id^="deletePasswordBtn"]', function () {
    //alert($(this).attr("data-id"))
    var modalDelete = $("#modalDeletePassword")
    modalDelete.addClass("is-active");
    $("#deletePasswordForm").attr('action', $(this).attr("data-id"))
    //$("#")
  });

  $(this.document).on('click', 'button[id^="sharePasswordBtn"]', function () {
    //alert($(this).attr("data-id"))
    var modalShare = $("#modalSharePassword")
    modalShare.addClass("is-active");
    $("#sharePasswordForm").attr('action', $(this).attr("data-id"))
  });

  $(this.document).on('click', 'button[id^="shareUserBtn"]', function () {
    var modalShareUsers = $("#modalShareUsers")
    modalShareUsers.addClass("is-active");
    //$("#deletePasswordForm").attr('action', $(this).attr("data-id"))
    //$("#")
  });

  $("#addShareBtn").click(function () {
    $('form#sharePasswordForm').submit();
  });

  $("#messageDelete").click(function () {
    $(".message").remove();
  });

  $(".modal-close-button").click(function () {
    $(".modal").removeClass("is-active");
    if ($("#modalInputError").length != 0) {
      $("#modalInputError").remove()
    }
    if ($("#modalShareInputError").length != 0) {
      $("#modalShareInputError").remove()
    }
  });

  $("#addPassBtn").click(function () {
    if ($.trim($("#nameInput").val()) === "" || $.trim($("#passwordInput").val()) === ""
      || $.trim($("#secretInput").val()) === "") {
    }
    //alert('Some fields are empty!');
    //     if($("#modalInputEmpty").length == 0) {
    //       $("#passModalDiv").append("<div class='notification is-danger' id='modalInputEmpty'>Some fileds are empty!</div>")
    //     }
    //     return false;
    // }
    $('form#newPasswordForm').submit();
  });



</script>

{% endblock %}