{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(category_filter=["positive_message"]) %}
{% if messages %}
<article class="message is-success">
    <div class="message-header">
        <p>Success</p>
        <button class="delete" id="messageDelete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        {{ messages[0] }}
    </div>
</article>
{% endif %}
{% endwith %}

<div class="hero-body">
    <div class="container has-text-centered" style="width:50%;">
        <h1 class="title is-3">
            Remember this unique password for future restoration.
        </h1>
        {% if restore_password %}
        <div class="box">
            <label class="label">Restoration password:</label>
            <div class="control">
                <input class="input has-text-centered" id="content" type="email" value="{{ restore_password }}"
                    readonly>
            </div>
        </div>
        <div class="box">
            <label class="label">QR code:</label>
            <img src="" class="qr-code img-thumbnail img-responsive" />
            <a class="label" style="font-weight: normal; color: cornflowerblue;" href="" id="link">link</a>
        </div>
        {% endif %}
        {% if is_login %}
        <a href="{{ url_for('profile.show_profile') }}" class="button is-link is-large">Go to profile</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="button is-link is-large">Go to login page</a>
        {% endif %}
    </div>
</div>


<script>
    $(function htmlEncode(value) {
        return $('<div />').text(value)
            .html();
    });

    $(function () {
        let finalURL =
            'https://chart.googleapis.com/chart?cht=qr&chl=' +
            $('#content').val() +
            '&chs=250x250&chld=L|0'
        $('.qr-code').attr('src', finalURL);
        $('#link').attr("href", finalURL)
        $('#link').text(finalURL)

    });

    $(function () {
        $('#tit').text(htmlEncode($('#content').val()))
    });
</script>
{% endblock %}